#now-condition div.cond_img_con {
  text-align: right;
}

#now-condition > div.cond_desc_text {
  text-align: left;
}

#now-condition > div.cond_desc_text p {
  margin: 0;
}

#now-condition > div.cond_desc_text p:nth-child(1) {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
}

img.cond_img_con img {
  height: 66px;
  display: inline-block;
}

.high-temp {
  font-size: 24px;
}

.low-temp {
  font-size: 16px;
  margin-left: 10px;
}

#forcast-list {
  overflow: auto;
  max-width: 50em;
  margin: 0 auto;
}

#forcast-list > div {
  min-width: 100px;
}

#forcast-list > div img {
  width: 100%;
  max-width: 100px;
}

.air_quality_level_1,
.air_quality_level_2,
.air_quality_level_3,
.air_quality_level_4,
.air_quality_level_5 {
  display: inline-block;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.air_quality_level_1 {
  background-color: #6eb720;
}

.air_quality_level_2 {
  background-color: #d6c60f;
}

.air_quality_level_3 {
  background-color: #ec7e22;
}

.air_quality_level_4 {
  background-color: #df2d00;
}

.air_quality_level_5 {
  background-color: #b414bb;
}

.geoloc {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  left: 5px;
  top: 10px;
  background-image: url(/images/geolocation-icon.png);
  background-position: 0 -28px;
  background-repeat: no-repeat;
}

#nudge {
  position: fixed;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  background-color: yellow;
  display: none;
}

#aqi-site-list {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px 10px;
}

#aqi-site-list thead {
  border-bottom: #e0e0e0 solid 3px;
}

#aqi-site-list thead tr th:nth-child(1),
#aqi-site-list tbody tr td:nth-child(1) {
  text-align: left;
}

#aqi-site-list tbody tr td span[class^=air_quality_] {
  width: 30px;
}