<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
    <style>
      body {
        background: rgb(194, 222, 239);
        text-align: center;
      }

      @media (max-width: 414px) {
        img {
          width: 320px;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <img src="/images/404.png" alt="404 - Not Found">
      <p>The page you are looking for was not found.</p>
      <p><a href="/">Home</a></p>
    </div>
  </body>
</html>